<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default "pt-BR" }}">
<head>
  <title>{{ block "title" . }}{{ .Title }} — Zona da Mata{{ end }}</title>
{{ partial "zonadamata/head.html" . }}
</head>

<body class="zonadamata">

<!-- Global Search Drawer -->
<div class="search-drawer" aria-expanded="false" role="region">
  <form role="search" method="get" class="searchform" action="{{ "search/" | relLangURL }}">
    <input type="search" class="search-input" placeholder="Search …" value="" name="q">
  </form>
</div>

<div id="zdm-outer">
{{ partial "zonadamata/nav.html" . }}
  <div id="zdm-main">
    <div class="zdm-container">
      {{ block "main" . }}{{ end }}
    </div>
  </div>

  <div id="zdm-footer">
    <div class="zdm-container">
      <div class="zdm-footer-bottom">
        Zona da Mata &copy; <a href="{{ "" | relURL }}">Lanchonete.org</a>
      </div>
    </div>
  </div>

</div>

<script src="{{ "js/main.js" | relURL }}"></script>

</body>
</html>
